
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
header {
    background-color: #011006;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #eb0f0f;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.game-category {
    margin-bottom: 20px;
}
.game-category h2 {
    color: #011006;
    font-size: 24px;
    margin-bottom: 10px;
}
.game-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.game-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    cursor: pointer;
}
.game-item:hover {
    background-color: #e6e6e6;
}